.content-meta {
  margin-top: 0;
  color: var(--darkgray);

  .content-meta-edit {
    color: var(--secondary);
    white-space: nowrap;
  }

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}
